# ESPHome
secrets.yaml
**/secrets.yaml
**/espfan-circuit-backups/

# Build artifacts
.esphome/
*.bin
*.elf
*.map

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db
fancontrol/secrets_imm.yaml
